@import 'bootstrap.min.css.scss';

body {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.home,.header {
    a, a:link, a:active, a:visited, a:hover {
        color: #000;
        text-decoration : none;
        &:hover {
            color: #337ab7;
        }
    }

    li {
        list-style: none;
    }

}

.post-meta {
    font-size: 0.8rem;
    font-style: oblique;
    font-family: Lora,'Times New Roman',serif;
    color: #ccc;
    &:before {
        content: "--- Posted By ";
    }
}

.post-link {
    font-size: 1rem;
}

.home {
    padding-top: 2rem;
}

.post-content {
    code.highlighter-rouge {
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
        font-size: 80%;
    }
    pre.highlight {
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
        background-color: #e1e1e1;
        font-size: 80%;
        border-radius: 0.25rem;
        overflow: auto;
        padding: 1rem;
    }
}
